@import 'ember-paper';

body {
  background-color: #DDD;
}

.calculator-card {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;


  .calculator {
    &.light {
      background-color: #FFF;
      color: #000;
    }

    &.dark {
      background-color: #000;
      color: #FFF;
    }

    &.colors {
      background: #1E9600;
      background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);
      background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
      color: #FFF;
    }

    width: 100%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }

  .calculations {
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: right;

    .computation {
      height: 50%;
      line-height: 25px;
      font-size: 14px;
    }

    .result {
      height: 50%;
      line-height: 25px;
      font-size: 28px;
    }
  }


  .buttons {
    padding: 5px;

    .operators,
    .numbers {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .operators {
      div {
        flex: 1;

        .md-button {
          font-size: 20px;
        }
      }
    }

    .numbers {
      div {
        flex: calc(100% / 3);
      }
    }

    .md-button {
      min-width: calc(100% - 15px);
    }
  }

  .material-icons {
    margin-right: 5px;
  }
}

.themes-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 300px;

  .md-button {
    min-width: calc(100% - 15px);
  }
}
