@import 'ember-paper';

body {
  background-color: #DDD;
}

.calculator-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;

  .calculator {
    &.light {
      background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
      color: #000;

      .calculations {
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      }
    }

    &.dark {
      background: linear-gradient(to right, #434343, #000000);
      color: #FFF;

      .calculations {
        border-bottom: 2px solid #FFF;
      }
    }

    &.colors {
      background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
      color: #FFF;

      .calculations {
        border-bottom: 2px solid #FFF;
      }
    }

    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }

  .calculations {
    height: 50px;
    padding: 10px;
    text-align: right;

    .computation {
      height: 20px;
      line-height: 20px;
      font-size: 14px;
    }

    .result {
      height: 30px;
      line-height: 30px;
      font-size: 28px;
    }
  }


  .buttons {
    padding: 5px;

    .operators,
    .numbers {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .operators {
      div {
        flex: 1;

        .md-button {
          font-size: 20px;
        }
      }
    }

    .numbers {
      div {
        flex: calc(100% / 3);
      }
    }

    .md-button {
      min-width: calc(100% - 15px);
    }
  }

  .material-icons {
    margin-right: 5px;
  }
}

.themes-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 300px;

  .md-button {
    min-width: calc(100% - 15px);
  }
}
